html {
  height: 100%;
}

h1 {
  font-family:Helvetica, sans-serif;
  color: #CCCCFF;
}

body {
  color: #CCFFFF;
  background-size: cover;
<<<<<<< HEAD
}

input {

}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
=======
  background-image: url("../img/cyloncompresed.gif");
  background-repeat: no-repeat;
>>>>>>> origin/gh-pages
}
