h1 {
  font-family:Helvetica, sans-serif;
  color: #19F700;
  font-weight:100;
}

body {
  color: #FF5E5E;
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
